@import "./page-transition.scss";
body{
    margin:0;
    padding:0;
    overflow: hidden;
}

.alert{
    display:flex;
    position:fixed;
    z-index: 100;
    font-size:20px;
    
}

.right-bottom{
    right:-35px;
    bottom:0;
}
.right-bottom2{
    right:-35px;
    bottom:35px;
}

.right-bottom3{
    right:-35px;
    bottom: 70px;
}

.modal-container {
    display: flex; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    
}

.preview-frame{
    background-color: white;
    padding: 10px 15px;
    // width:85%;
    height: 80%;
    .slots{
        z-index: 3;
        .slot{
            position: absolute;
            .text-box{
                width: 100%;
                height: 100%;
            }
            .slot-box{
                .text-div{
                    padding: 5px;
                    position: absolute;
                    border-radius: 50%;
                    background-color: #000;
                    color: #fff;
                    z-index: 10;
                    width: 20px;
                    height: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                }
                .left-top{
                    top:-10px;
                    left:-10px;
                }
                .left-top2{
                    top:-3px;
                    left:-33px;
                }
                .handle{
                    flex:1;
                    display: flex;
                    
                }
                .exit-div{
                    flex:1;
                    display:flex;
                }
                .text-toolbox{
                    display: flex;
                    flex:1;
                    .color-opener{
                        display: flex;
                        position: absolute;
                    }
                }
                i{
                    flex:1;
                    font-size:20px;
                }
            }
            img{
                width:100%;
                height:100%;
            }
        }
    }
    .frame-img{
        width: 100%;
        height: 100%;
    }
    .photo-square{
        height: 100%;
        width: 100%;
        flex:1;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        .photo{
            flex:1;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                position: relative;
                width:400px;
                height: 200px
            }
        }
    }
}

.preview-modal{
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    .preview-div{
        background-color: white;
        display: flex;
        flex: 0.9;
        height: 85vh;
        flex-direction: column;
        .title{
            display:flex;
            flex:2;
            justify-content: flex-start;
            align-items: center;
            color : #44B8D7;
            font-size: 20px;
            font-weight: bold;
            padding: 0 0 0 30px;
            border-bottom: 1px solid #B6B7B6;
        }
        .preview-button{
            display:flex;
            flex:2;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            background-color: #F5F7FB;
            >img{
                width:100px;
                height:50px;
                
                cursor: pointer;
                padding-right: 8px;
            }
        }
        .content-div{
            display:flex;
            flex-direction: row;
            flex: 10;
            background-color: #EFF1F6;
            .paging-button{
                display: flex;
                flex: 2;
                align-items: center;
                background-color: #EFF1F6;
                justify-content: center;
                >img{
                    width: 30%;
                    height: 15%;
    
                    cursor: pointer;

                    &:hover{
                        border: 5px solid #E0E2E7;
                        border-radius: 50%;
                    }
                }
            }
            .content{
                flex:8;
                background-color: #EFF1F6;
                justify-content: center;
                align-items: center;
                .slots{
                    z-index: 3;
                    .slot{
                        position: absolute;
                        .text-box{
                            width: 100%;
                            height: 100%;
                        }
                        .slot-box{
                            .text-div{
                                padding: 5px;
                                position: absolute;
                                border-radius: 50%;
                                background-color: #000;
                                color: #fff;
                                z-index: 10;
                                width: 20px;
                                height: 20px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
            
                            }
                            .left-top{
                                top:-10px;
                                left:-10px;
                            }
                            .left-top2{
                                top:-3px;
                                left:-33px;
                            }
                            .handle{
                                flex:1;
                                display: flex;
                                
                            }
                            .exit-div{
                                flex:1;
                                display:flex;
                            }
                            .text-toolbox{
                                display: flex;
                                flex:1;
                                .color-opener{
                                    display: flex;
                                    .color-picker{
                                        position: absolute;
                                        right: -110px;
                                        top: 0px;
                                    }
                                }
                            }
                            i{
                                flex:1;
                                font-size:20px;
                            }
                        }
                        img{
                            width:100%;
                            height:100%;
                        }
                    }
                }
            }
        }
        
    }
}
.filedir{
    flex:1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: auto;
    margin-top: 10px;
    .div-divider{
        flex: 1;
        height: 100%;
        flex-direction: column;
        .folder-background{
            display: flex;
            margin-bottom: 20px;
            .board{
                position: relative;
                width: 100%;
                height: 100%;
                img{
                    width:100px;
                    height:100px;
                }
                .squre{
                    width: 100%;
                    height: 100%;
                    >div{
                        display:flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
                .isOver{ // when : mouse on board
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    z-index: 1;
                    opacity: 0.5;
                    background-color : #5FCDF3 ;
                }
            }
        }
    }
}
.zindex-0{
    z-index: 0;
}
.zindex-1{
    z-index: 1;
}
.zindex-2{
    z-index:2;
}
.zindex-3{
    z-index:3;
}

.App{
    position:relative;
    .login{
        display:flex;
        flex:1;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .top-icon{
            width: 80px;
            height : 80px;
            position: relative;
            top: 58px;
        }
        .content{
            display:flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border : 1px solid #C4C4C4;
            background-color: #F0F2F5;
            border-radius: 8%;
            width: 380px;
            height: 420px;
            .signin-txt{
                font-size: 40px;
                font-weight: bold;
                display:flex;
                flex : 1;
                justify-content: center;
                align-items: center;
                margin: 60px 0 0 0;
                color : #858686;
            }
            .login-txt{
                display:flex;
                flex : 1;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                color : #9C9D9D;
                background-color: #FEFEFE;
                border-radius: 18px;
                margin: 20px;
                .login-img{
                    flex : 1;
                    margin: 0 20px;
                    img{
                        width:35px;
                        height:35px;
                    }
                }
                .login-input{
                    flex : 1;
                    >input{
                        width:240px;
                        height:30px;
                        border: 0;
                        margin: 10px 0;
                        font-size:28px;
                    }
                }

            }
            .login-button { 
                display:flex;
                flex : 1;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                >button{
                    background-color: #D8EBF4;
                    color : #3DAFCA;
                    margin: 20px;   
                    border-radius: 18px;
                    width: 310px;
                    height: 40px;
                    font-size:25px;
                    cursor: pointer;
                    &:hover{
                        background-color : #CCE1EB;
                    }
                }
            }
        }
        
    }
    .main-page{
        display: flex;
        flex-direction: column;
        height: 100vh;
        .top-bar{
            max-height: 110px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex: 2;
            border: 1px solid #E3E3E3;
            background-color: #F7F8FC;
            .right-border{
                border-right: 1px solid #E0DFE2;
            }

            .left-border{
                border-left: 1px solid #E0DFE2;
            }

            .click{
                cursor: pointer;
                &:hover{
                    background-color: #EBEBEB
                }
            }

            .menu-txt{
                height: 60%;
                padding:10px;
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: #6C6C6C;
                flex:3;
                font-size:12px;
                text-align: center;
                font-weight:bold;
                
                >img{
                    width:40px;
                    height:40px;
                    margin : 0 0 10px 0;
                }
                .dropdown-list{
                    width:8%;
                    height:20%;
                    flex-direction: column;
                    position: absolute;
                    top: 100px;
                    margin: 10px 0;
                    border: 1px solid lightgray;
                    background-color: #F7F8FC;
                    cursor: pointer;
                    >div{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex : 1;
                        padding : 5px 0;
                        &:hover{
                            background-color: #EBEBEB
                        }
                    }
                }
            }
        }
        .contents{
            display:flex;
            flex-direction: row;
            flex:10;
            .divider{
                display:flex;
                flex:1;
                flex-direction: column;
                border: 1px solid #D3D4DB;
                .top{
                    display:flex;
                    // flex: 1;
                    // margin : 5px;
                    .top-item{
                        padding: 0px 10px;
                        display:flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        flex:1;
                        font-size:13px;
                        >img{
                            width:80px;
                            height:80px;
                        }
                        cursor: pointer;
                        &:hover{
                            background-color: #EFF0F6;
                        }
                    }
                }
                .content{
                    display:flex;
                    flex: 8;
                    
                    .tools{
                        flex:1;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
    
                        .textbox-div{
                            width:100%;
                            flex:1;
                            display:flex;
                            justify-content: center;
                            align-items: center;
                            >button{
                                width: 100px;
                                height: 50px;
                            }
                        }
                        
                        .photo-zone{
                            flex:5;
                            width:100%;
                            display:flex;
                            flex-direction: column;
                            >img{
                                width:100px;
                                height:100px;
                            }
                            
                        }
                        
                        .photo-upload{
                            width:100%;
                            flex:1;
                            display:flex;
                            justify-content: center;
                            align-items: center;
                            >button{
                                height: 50px;
                                width:100px;
                                background-color: #E2F5FD;
                                color: #48B9D7;
                                border-radius: 24px;
                                width: 202px;
                                font-size: 14px;
                                font-weight: bold;
                            }
                        }
                        .template-list{
                            width:100%;
                            flex:5;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            overflow-y: auto;
                            .div-divider{
                                flex: 1;
                                height: 100%;
                                flex-direction: column;

                                .template-icon{
                                    width:100%;
                                    height: 100px;
                                    flex:1;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    padding : 10px 0;
                                    >img{
                                        width:90%;
                                        height:90%;
                                        cursor: pointer;
                                    }
                                }
                            }

                            >button{
                                margin-bottom: 10px;
                                height: 50px;
                                width:100px;
                                background-color: #E2F5FD;
                                color: #48B9D7;
                                border-radius: 24px;
                                width: 202px;
                                font-size: 14px;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
            .template-page{
                flex:3;
                display:flex;
                flex-direction: column;
                .paging{
                    display: flex;
                    flex:1;
                    .paging-button{
                        display: flex;
                        flex: 1;
                        align-items: center;
                        >img{
                            width: 100%;
                            height: 100%
                        }
                        border : 1px solid #E4E4E4;
                        cursor: pointer;
                    }

                    .template-pages{
                        display: flex;
                        flex:25;
                        justify-content: flex-start;
                        padding : 0 20px;
                        align-items: center;
                        overflow-x: auto;
                        overflow-y: hidden;
                        
                        .preview-box{
                            justify-content: center;
                            align-items: center;
                            height:90px;
                            width: 180px;
                            .preview-frame{
                                &:hover{
                                    background-color: #5FCDF3;
                                }
                                .slots{
                                    z-index: 3;
                                    transform: scale(0.15) translate(0,-260px);
                                }
                            }
                        }
                    }
                }
                
                .template-frame{
                    display:flex;
                    flex:7;
                    justify-content: center;
                    align-items: center;
                    background-color: #EFF1F7;
                    .frame-button{
                        margin: 0 5px;
                        display: flex;
                        flex:1;
                        justify-content: center;
                        align-items: center;
                        >img{
                            width:50px;
                            height:50px;
                            cursor: pointer;
                            &:hover{
                                border: 5px solid #E0E2E7;
                                border-radius: 50%;
                            }
                        }
                        
                        
                    }

                    .frame{
                        display:flex;
                        flex:8;
                        justify-content: center;
                        align-items: center;
                        background-color: white;
                        height:80%;
                        .slots{
                            position: relative;
                            height: 100%;
                            .slot{
                                position: absolute;
                                .text-box{
                                    width: 100%;
                                    height: 100%;
                                }
                                .slot-box{
                                    // transform: translate(0,-3px);
                                    // position: absolute;
                                    .text-div{
                                        padding: 5px;
                                        position: absolute;
                                        border-radius: 50%;
                                        background-color: #000;
                                        color: #fff;
                                        // box-shadow: 0px 0px 10px #555;
                                        z-index: 10;
                                        width: 20px;
                                        height: 20px;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
        
                                        cursor: pointer;
                                    }
                                    .left-top{
                                        top:-10px;
                                        left:-10px;
                                    }
                                    .left-top2{
                                        top:-3px;
                                        left:-33px;
                                    }
                                    .handle{
                                        flex:1;
                                        display: flex;
                                        
                                    }
                                    .exit-div{
                                        flex:1;
                                        display:flex;
                                    }
                                    .text-toolbox{
                                        display: flex;
                                        flex:1;
                                        .color-opener{
                                            display: flex;
                                            .color-picker{
                                                position: absolute;
                                                right: -110px;
                                                top: -110px;
                                            }
                                        }
                                    }
                                    i{
                                        flex:1;
                                        font-size:20px;
                                        cursor: pointer;
                                        text-align: center;
                                    }
                                }
                                img{
                                    width:100%;
                                    height:100%;
                                }
                            }
                        }
                        .frame-img{
                            width: 100%;
                            height: 100%;
                        }
                        .photo-square{
                            height: 100%;
                            width: 100%;
                            flex:1;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            overflow: hidden;
                            .photo{
                                flex:1;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                img{
                                    position: relative;
                                    width:400px;
                                    height: 200px
                                }
                            }
                        }
                    }
                }
                
            }
            
        }
    }
}